{
   "logging":{
      "logs":{
         "default":{
            "level":"debug"
         }
      }
   },
   "admin":{
      "disabled":true
   },
   "apps":{
      "tls":{

      },
      "http":{
         "servers":{
           	"srv8585": {
          	"automatic_https": {
            	"disable": true
          	},
          	"logs": {
	  	  	},
          	"listen": [
            	":8585"
          	],
		  	"routes": [
            {
              "match": [
                {
                  "path": [
                    "/*"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "file_server",
                  "root": "/htmls/"
                }
              ]
            }
          ]
		},
            "srv8787":{
               "listen":[
                  ":8787"
               ],
               "routes":[
                  {
                     "match":[
                        {
                           "path":[
                              "/*"
                           ]
                        }
                     ],
                     "handle":[
                        {
                           "handler":"samlprovider",
                           "session_header_name":"session",
                           "session_expiry_hours":"6",
                           "mongo_host":"mongo",
                           "mongo_db":"samlsp",
                           "audience_restriction":"test",
                           "idp_metadata_url":"http://keycloak:8080/realms/test/protocol/saml/descriptor",
                           "entityId":"test",
                           "sign_authn_req":"false",
                           "sign_cert_file":"/sp/sp.cer",
                           "sign_key_file":"/sp/sp.pem",
                           "external_url":"http://uiservice:8787",
                           "metadata_path":"/saml/metadata",
                           "logout_path":"/saml/logout",
                           "slo_path":"/saml/SLO",
                           "sso_path":"/saml/SSO",
                           "cookie_domain":"",
                           "cookie_path":"/",
                           "logout_landing_page": "http://uiservice:8585/pretty-logoutpage.html"
                        },
                        {
                           "handler":"reverse_proxy",
                           "transport":{
                              "protocol":"http",
                              "read_buffer_size":4096
                           },
                           "upstreams":[
                              {
                                 "dial":"websocketservice:8585"
                              }
                           ]
                        }
                     ]
                  }
               ]
            }
         }
      }
   }
}