{
   "logging":{
      "logs":{
         "default":{
            "level":"debug"
         }
      }
   },
   "admin":{
      "disabled":true
   },
   "apps":{
      "tls":{

      },
      "http":{
         "servers":{
            "srv8787":{
               "listen":[
                  ":8787"
               ],
               "routes":[
                  {
                     "match":[
                        {
                           "path":[
                              "/*"
                           ]
                        }
                     ],
                     "handle":[
                        {
                           "handler":"prometheus",
                           "metrics_path":"/metrics"
                        },
                        {
                           "handler":"samlprovider",
                           "session_header_name":"session",
                           "sessiondata_headername": "sessiondataheader",
                           "session_expiry_hours":"6",
                           "mongo_host":"mongo",
                           "mongo_db":"encryptedsp",
                           "audience_restriction":"encrypted",
                           "idp_metadata_url":"http://keycloak:8080/auth/realms/test/protocol/saml/descriptor",
                           "entityId":"encrypted",
                           "sign_authn_req":"false",
                           "sign_cert_file":"/sp/sp.cer",
                           "sign_key_file":"/sp/sp.pem",
                           "external_url":"http://encrypted:8787",
                           "metadata_path":"/saml/metadata",
                           "logout_path":"/saml/logout",
                           "slo_path":"/saml/SLO",
                           "sso_path":"/saml/SSO",
                           "logout_landing_page":"",
                           "cookie_domain":"",
                           "cookie_path":"/"
                        },
                        {
                           "handler":"reverse_proxy",
                           "transport":{
                              "protocol":"http",
                              "read_buffer_size":4096
                           },
                           "upstreams":[
                              {
                		      		"dial": "echo:8080"
                              }
                           ]
                        }
                     ]
                  }
               ]
            }
         }
      }
   }
}