{
  "logging": {
    "logs": {
      "default": {
        "level": "debug"
      }
    }
  },

  "admin": {
    "disabled": false
  },
  "apps": {
    "tls": {
    },
    "http": {
      "servers": {
	      "srv8787": {
          "listen": [
            ":8787"
          ],
          "routes": [
            {
              "match": [
                {
                  "path": [
                    "/"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "prometheus",
                  "metrics_path": "/metrics"
                },
                {
                  "handler": "samlprovider",
                  "session_header_name": "MYSESSIONHEADER",
                  "session_expiry_hours": "6",
                  "mongo_host": "mongo",
                  "mongo_db": "samlsp",
                  "audience_restriction": "test",
                  "idp_metadata_url": "http://keycloak:8080/auth/realms/test/protocol/saml/descriptor",
                  "entityId": "test",
                  "sign_authn_req": "false",
                  "sign_cert_file": "/sp/sp.cer",
                  "sign_key_file": "/sp/sp.pem",

                  "external_url": "http://uiservice:8787",
                  "metadata_path": "/saml/metadata",
                  "logout_path": "/saml/logout",
                  "slo_path": "/saml/SSO",
                  "sso_path": "/saml/SLO",

                  "cookie_domain": "",
                  "cookie_path": "/"
                },
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "localhost:9090"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "srv9090": {
          "listen": [
            ":9090"
          ],
          "routes": [
            {
              "match": [
                {
                  "path": [
                    "/echo/*"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "echo:80"
                    }
                  ]
                }
              ]
            },
            {
              "match": [
                {
                  "path": [
                    "/service/*"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "wsc:8686"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  }
}
