{
  "logging": {
    "logs": {
      "default": {
        "level": "debug"
      }
    }
  },
  "apps": {
    "tls": {
    },
    "http": {
      "servers": {
		"srv8686": {
          "automatic_https": {
            "disable": true
          },
          "logs": {
	  	  },
          "listen": [
            ":8686"
          ],
          "routes": [
           {
             "match": [
              {
                "path": [
                   "/"
                ]
              }
             ],
             "handle": [
                {
                  "handler": "oioidwsrestwsc",
                  "mongo_host": "mongo",
                  "mongo_db": "wsctest",
                  "trust_cert_files": [ "/trust/sts.cer", "/wsp/wspssl.cer" ],
                  "sts_url": "https://sts/sts/service/sts",
                  "client_cert_file": "/wsc/wsc.cer",
                  "client_key_file": "/wsc/wsc.pem",
                  "service_endpoint": "https://testserviceaa:8443",
                  "service_audience": "urn:kit:test:servicea",
                  "session_header_name": "MYSESSIONHEADER",
                  "session_data_url": "http://uiservice:8787"
                },
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "tls": {
                       "insecure_skip_verify": true,
		       			"client_certificate_file": "/wsc/wsc.cer",
		       			"client_certificate_key_file": "/wsc/wsc.pem"
                    },
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "testserviceaa:8443"
                    }
                  ]
                }
             ]
           }
          ]
		}
      }
    }
  }
}
