{
   "logging":{
      "logs":{
         "default":{
            "level":"debug"
         }
      }
   },
   "admin":{
      "disabled":true
   },
   "apps":{
      "tls":{
      },
      "http":{
         "servers":{
           "srv8787":{
               "listen":[
                  ":8787"
               ],
               "routes":[
                  {
                     "match":[
                        {
                           "path":[
                              "/*"
                           ]
                        }
                     ],
              		 "handle": [
                		{
                  			"handler": "oioidwsrestwsp",
                  			"mongo_host": "mongo",
                  			"mongo_db": "wsptest",
                  			"trust_cert_files": [ "/trust/sts.cer" ],
                  			"audience_restriction": "urn:kit:test:servicea",
                  			"sessiondata_headername": "sessiondataheader",
                  			"ssl_client_cert_header_names": [ "surviving-bogus-header", "forwarded-from-nginx" ],
		          			"hok": "true"
                		},
                		{
                  			"handler": "reverse_proxy",
                  			"transport": {
               		     		"protocol": "http",
               		      		"read_buffer_size": 4096
               	    	  	},
               			  	"upstreams": [
                		    	{
                		      		"dial": "echo:8080"
            		        	}
        		          	]
    		            }
		              ]
                  }
               ]
            }
         }
      }
   }
}
