{
  "logging": {
    "logs": {
      "default": {
        "level": "debug"
      }
    }
  },
  "apps": {
    "tls": {
      "certificates": {
        "load_files": [
          {
            "certificate": "/wsp/wspssl.cer",
            "key": "/wsp/wspssl.pem",
            "format": "pem",
            "tags": []
          }
        ]
      }
    },
    "http": {
      "servers": {
      	"srv8787": {
          "automatic_https": {
            "disable": true
          },
          "logs": {
	  	  },
          "listen": [
            ":8787"
          ],
		  "routes": [
            {
              "match": [
                {
                  "path": [
                    "/"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "oioidwsrestwsp",
                  "mongo_host": "mongo",
                  "mongo_db": "wsptest",
                  "trust_cert_files": [ "/trust/sts.cer" ],
                  "audience_restriction": "urn:kit:test:servicea",
                  "hok": "false"
                },
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "echo:80"
                    }
                  ]
                }
              ]
            }
          ]
		},
        "srv8443": {
          "listen": [
            ":8443"
          ],
          "strict_sni_host": false,
          "tls_connection_policies": [
            {
              "client_authentication": {
                "require": true
              }
            }
          ],
          "automatic_https": {
            "disable_redirects": true
          },
          "routes": [
            {
              "match": [
                {
                  "path": [
                    "/"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "oioidwsrestwsp",
                  "mongo_host": "mongo",
                  "mongo_db": "wsptest",
                  "trust_cert_files": [ "/trust/sts.cer" ],
                  "audience_restriction": "urn:kit:test:servicea",
		          "hok": "true"
                },
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "upstreams": [
                    {
                      "dial": "echo:80"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  }
}
