{
  "logging": {
    "logs": {
      "default": {
        "level": "debug"
      }
    }
  },
  "apps": {
    "tls": {
    },
    "http": {
      "servers": {
      	"srv8585": {
          "automatic_https": {
            "disable": true
          },
          "logs": {
	  	  },
          "listen": [
            ":8585"
          ],
		  "routes": [
            {
              "match": [
                {
                  "path": [
                    "/*"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "file_server",
                  "root": "/htmls/",
                  "pass_thru": true
                },
                {
                  "handler": "reverse_proxy",
                  "transport": {
                    "protocol": "http",
                    "read_buffer_size": 4096
                  },
                  "headers": {
                        "request": {
                                "set": {
                                        "Host": ["echo.websocket.org"]
                                }
                        }
                  },                  
                  "upstreams": [
                    {
                      "dial": "echo.websocket.org:80"
                    }
                  ]
                }
              ]
            }
          ]
		}
      }
    }
  }
}
